<!DOCTYPE html>
<html>
  <head>
    <title>CKD Prediction</title>
    <link rel="stylesheet" href="css/style1.css">
  </head>
  <body>
    <h1>CKD Prediction Form</h1>
    <form method="post" action="new_predict.html">
    
<label for="blood urea">Enter your blood urea:</label>
      <input type="text" id="blood urea" name="blood urea">
      <br>
  <label for="glucose">Enter your blood glucose random:</label>
      <input type="text" id="glucose" name="glucose">
      <br>
      
  <label for="anemia">Select anemia or not:</label>
      <select id="anemia" name="anemia">
        <option value="YES">YES</option>
        <option value="NO">NO</option>
      </select>
      <br>
      <label for="coronary">Select coronary artery disease or not:</label>
      <select id="coronary" name="coronary">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
      <br>
      <label for="pus_cell">Select pus_cell or not:</label>
      <select id="pus_cell" name="pus_cell">
        <option value="Normal">Normal</option>
        <option value="Abnormal">Abnormal</option>
      </select>
      <br>
     
	<label for="redblood">Select redblood cell level:</label>
      <select id="redblood" name="redblood">
      <option value="Normal">Normal</option>
        <option value="Abnormal">Abnormal</option>


      </select>
      <br>
      <label for="diabetic">Diabetics mellitus or not</label>
      <select id="diabetic" name="diabetic">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
      <br>
      
    
     <label for="pedal">Select pedal edema or not:</label>
      <select id="pedal" name="pedal">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
       
      </select>
      <br>
   
   
    <input type="submit" value="Submit">
    
</form>
  </body>
</html>
